@font-face {
    font-family: me123;
    src: url(me123.ttf)
}

body {
    background-color: #000;
    overflow: hidden;
    padding: 50px;
    user-select: none;
}

.UIContainer {
    margin: 50px;
    position: absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
}

#topContainer {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
}

#menu {
    position: absolute;
    background-color: #111;
    border-radius: 10px;
    width: 500px;
    height: 1600%;
    display: none;
}

#menuIcon {
    margin-left: 30px;
    margin-top: 30px;
}

ul {
    color: #ccc;
    font-family: me123;
    font-size: 15px;
    margin-top: 30px;
    padding-left: 30px;
    max-width: 300px;
}

.menuItems {
    position: relative;
    line-height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: .1s;
}

.menuItems:hover {
    transform: translate(0, -3px);
    transition: .1s;
}

.menuItemsHidden{
    color: #555;
    position: relative;
    line-height: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition: .1s;
}

.comingSoon {
    color: #00a9fb;
    font-size: 10px;
    margin-top: -20px;
}

#title {
    color: #ccc;
    font-family: me123;
    font-size: 12;
    text-align: right;
    margin-left: auto;
    margin-top: 0;
    text-decoration: none;
}

#bottomContainer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.button {
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #111;
    border-radius: 10px;
    transition: .1s;
}

.button:hover {
    margin-top: -3px;
    transition: .1s;
}

.mainIcons {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

#button1 {
    margin-right: 10px;
}

#button2 {
    margin-left: 10px;
}

#button3 {
    margin-left: auto;
}